.navLink {
  width: 80%;
  margin-left: 10%;
  position: relative;
  height: 3.5em;
  border: 3px ridge #1945f6;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.5s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navLink::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.3s;
  transform-origin: center;
}

.navLink::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.3s;
}

.navLink:hover::before, .navLink:hover::after {
  transform: scale(0)
}

.navLink:hover {
  box-shadow: inset 0px 0px 25px #1945f6;
}